th{
	text-align:center;
	vertical-align:middle;
}

/* loading style */
.loadingwrap{
	position: fixed;
	bottom: 0;
	top: 0;
	width: 100%;
	background:rgba(0,0,0,.2);
	z-index: 10000;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -25px;
	height: 60px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #ffffff;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
		}  20% {
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}
}
/* loading style end */
