.mainSelect {
	display: inline-block
}

.mainSelect > div {
	position: relative;
	display: inline-block
}

.mainSelect #selectContent {
	border: 1px solid #CCCCCC;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

.mainSelect #maincontent {
	position: absolute;
	width: 200px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 7px 12px #CCCCCC;
	text-align: center
}

.mainSelect .normal {
	padding: 2px 8px 2px 8px;
	display: block;
	text-align: left;
	line-height:25px;
}

.mainSelect .main-content-input {
	padding: 2px 8px 2px 8px;
	display: block;
	line-height:25px;
}

.mainSelect .main-content {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: #FFFFFF;
}

input[type=checkbox]:hover {
	cursor: pointer;
}
