/* 页面路径文字 */
.skin-cyan .content-wrapper .content-header .breadcrumb > li > a {
	color: #FF3D00;
}
/* 页面路径文字[end] */

.skin-cyan .main-header .navbar {
	background-color: #45C8DC;
}
.skin-cyan .main-header .navbar .nav > li > a {
	color: #ffffff;
}
.skin-cyan .main-header .navbar .nav > li > a:hover,
.skin-cyan .main-header .navbar .nav > li > a:active,
.skin-cyan .main-header .navbar .nav > li > a:focus,
.skin-cyan .main-header .navbar .nav .open > a,
.skin-cyan .main-header .navbar .nav .open > a:hover,
.skin-cyan .main-header .navbar .nav .open > a:focus,
.skin-cyan .main-header .navbar .nav > .active > a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6;
}
.skin-cyan .main-header .navbar .sidebar-toggle {
	color: #ffffff;
}
.skin-cyan .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1);
}
.skin-cyan .main-header .navbar .sidebar-toggle {
	color: #fff;
}
.skin-cyan .main-header .navbar .sidebar-toggle:hover {
	background-color: #45C8DC;
}
@media (max-width: 767px) {
	.skin-cyan .main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.skin-cyan .main-header .navbar .dropdown-menu li a {
		color: #fff;
	}
	.skin-cyan .main-header .navbar .dropdown-menu li a:hover {
		background: #367fa9;
	}
}
.skin-cyan .main-header .logo {
	background-color: #45AADC;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-cyan .main-header .logo:hover {
	background-color: #4596DC;
}
.skin-cyan .main-header li.user-header {
	background-color: #45AADC;
}
.skin-cyan .content-header {
	background: transparent;
}
.skin-cyan .wrapper,
.skin-cyan .main-sidebar,
.skin-cyan .left-side {
	background-color: #3b4966;
}
.skin-cyan .user-panel > .info,
.skin-cyan .user-panel > .info > a {
	color: #fff;
}
.skin-cyan .sidebar-menu > li.header {
	color: #4b646f;
	background: #1a2226;
}
.skin-cyan .sidebar-menu > li > a {
	border-left: 3px solid transparent;
}
.skin-cyan .sidebar-menu > li:hover > a,
.skin-cyan .sidebar-menu > li.active > a {
	color: #00ddff;
	background: #56678a;
	border-left-color: #00ddff;
}
.skin-cyan .sidebar-menu > li > .treeview-menu {
	margin: 0 10px;
	background: #3b4966;
}
.skin-cyan .sidebar a {
	color: #fff;
}
.skin-cyan .sidebar a:hover {
	text-decoration: none;
}
.skin-cyan .treeview-menu > li > a {
	color: #fff;
}
.skin-cyan .treeview-menu > li.active > a,
.skin-cyan .treeview-menu > li > a:hover {
	color: #00ddff;
}
.skin-cyan .sidebar-form {
	border-radius: 3px;
	border: 1px solid #374850;
	margin: 10px 10px;
}
.skin-cyan .sidebar-form input[type="text"],
.skin-cyan .sidebar-form .btn {
	box-shadow: none;
	background-color: #374850;
	border: 1px solid transparent;
	height: 35px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.skin-cyan .sidebar-form input[type="text"] {
	color: #666;
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}
.skin-cyan .sidebar-form input[type="text"]:focus,
.skin-cyan .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	background-color: #fff;
	color: #666;
}
.skin-cyan .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
	border-left-color: #fff;
}
.skin-cyan .sidebar-form .btn {
	color: #999;
	border-top-left-radius: 0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
}
.skin-cyan.layout-top-nav .main-header > .logo {
	background-color: #45AADC;
	color: #ffffff;
	border-bottom: 0 solid transparent;
}
.skin-cyan.layout-top-nav .main-header > .logo:hover {
	background-color: #4596DC;
}
