<?php 
/**
 * @name 生蚝科技TP6-RBAC开发框架-V-忘记密码
 * @author Oyster Cheung <master@xshgzs.com>
 * @since 2020-07-16
 * @version 2020-07-16
 */
?>

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Oyster Cheung">
	<title>忘记密码 / {:getSetting('appName')}</title>

	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/admin-lte/2.4.8/css/AdminLTE.min.css">
	<link rel="stylesheet" href="https://static.xshgzs.com/css/loading.css">

	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/solid.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/brands.min.css">

	<script src="https://cdn.staticfile.org/jquery/3.1.0/jquery.min.js"></script>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/admin-lte/2.4.8/js/adminlte.min.js"></script>

	<script src="https://static.xshgzs.com/js/utils.js"></script>
	<script src="{:think\\facade\\Config::get('app.app_host')}/public/js/config.js"></script>

	<style>
		body {
			padding-top: 20px;
		}
	</style>
</head>

<body style="background-color: #66CCFF;">
	<div class="container" id="app">
		<div class="col-md-6 col-md-offset-3">
			<center><img src="{:getSetting('companyLogo')}" style="display: inline-block;height: auto;max-width: 100%;">
			</center><br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align:center;line-height:23px;">
						忘记密码<br>{:getSetting('appName')}</h3>
				</div>
				<div class="panel-body">
					<label for="email">绑定的邮箱（将发送验证码至此）</label>
					<div class="input-group">
						<input class="form-control" placeholder="邮箱 / Email" id="email" v-model="email" type="email">
						<span class="input-group-btn">
							<button v-if="haveSendCode!==true" class="btn btn-warning" @click="getCode">获取验证码</button>
							<button v-else-if="haveSendCode==true && surplusSecond>0" class="btn btn-warning"
									disabled>获取验证码({{surplusSecond}})</button>
							<button v-else class="btn btn-warning" @click="getCode">重新获取验证码</button>
						</span>
					</div>

					<br>

					<div v-if="haveSendCode==true" class="form-group">
						<label for="code">邮箱验证码</label>
						<input class="form-control" placeholder="邮箱验证码 / Verification Code" id="code" v-model="code"
							   type="number">
					</div>

					<div v-if="haveSendCode==true" class="form-group">
						<label for="newPassword">新密码</label>
						<input class="form-control" placeholder="新密码 / New Password" id="newPassword"
							   v-model="newPassword" type="password">
					</div>

					<div v-if="haveSendCode==true" class="form-group">
						<label for="surePassword">确认新密码</label>
						<input class="form-control" placeholder="确认新密码 / Confirm New Password" id="surePassword"
							   v-model="surePassword" type="password">
					</div>

					<center>
						<button class="btn btn-primary" style="width:49%" onclick="window.close();">&lt; 取消操作</button>
						<button v-if="haveSendCode==true" class="btn btn-success" style="width:49%"
								@click="toReset">确认重置 &gt;</button>
					</center>
				</div>
			</div>
		</div>
	</div>

	<center>
		<!-- 页脚版权 -->
		<p style="font-weight:bold;font-size:20px;line-height:26px;">
			&copy; <a href="{:getSetting('homepageUrl')}" target="_blank"
			   style="font-size:21px;">{:getSetting('companyName')}</a>
			{:getSetting('companyCreateYear')}-{:date('Y')}

			<br>

			All Rights Reserved.<br>
			<a href="http://miit.beian.gov.cn/" target="_blank"
			   style="color:black;">{:getSetting('beianCode')}</a><br><br>
		</p>
		<!-- ./页脚版权 -->
	</center>

	<script>
		var interval;

		var vm = new Vue({
			el: "#app",
			data() {
				return {
					haveSendCode: false,
					email: "",
					code: "",
					newPassword: "",
					surePassword: "",
					surplusSecond: 0,
				}
			},
			methods: {
				getCode: function () {
					let that = this;
					let email = this.email;

					if (!(/^([a-zA-Z\d])(\w|\-)+@[a-zA-Z\d]+\.[a-zA-Z]{2,4}$/.test(email))) {
						showModalTips("请正确输入邮箱地址");
						return false;
					}

					lockScreen();
					$.ajax({
						url: "sendCode2ForgetPassword",
						type: "post",
						data: {
							type: "email",
							address: email,
						},
						dataType: "json",
						error: function (e) {
							unlockScreen();
							console.log(e);
							showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
						},
						success: function (ret) {
							unlockScreen();

							if (ret.code == 200) {
								that.haveSendCode = true;
								that.surplusSecond = 60;

								var interval = setInterval(function () {
									that.surplusSecond--;
									if (that.surplusSecond <= 0) clearInterval(interval);
								}, 1000);
							} else if (ret.tips !== '') {
								showModalTips(ret.tips);
							} else {
								showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
							}
						}
					});
				},
				toReset: function () {
					let that = this;

					if (!(/^([a-zA-Z\d])(\w|\-)+@[a-zA-Z\d]+\.[a-zA-Z]{2,4}$/.test(this.email))) {
						showModalTips("请正确输入邮箱地址");
						return false;
					}
					if (this.code.length != 6) {
						showModalTips("请正确输入邮箱验证码");
						return false;
					}
					if (this.newPassword.length < 6 || this.newPassword.length > 20) {
						showModalTips("请输入6~20位的新密码！");
						return false;
					}
					if (this.surePassword !== this.newPassword) {
						showModalTips("两次输入的密码不相符！");
						return false;
					}

					lockScreen();
					$.ajax({
						url: "resetPassword",
						type: "post",
						data: {
							address: that.email,
							code: that.code,
							password: that.newPassword
						},
						dataType: "json",
						error: function (e) {
							unlockScreen();
							console.log(e);
							showModalTips("服务器错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + e.responseJSON.tables.Session.errorRequestId);
						},
						success: function (ret) {
							unlockScreen();

							if (ret.code == 200) {
								alert("重置成功！请牢记您的密码！");
								window.close();
							} else if (ret.tips !== '') {
								showModalTips(ret.tips);
							} else {
								showModalTips("系统错误<br>请联系技术支持并提供以下ID<br>（可截图或直接提供最后5位）<hr><p style='font-size:22px;color:#078cff'>" + ret.requestId);
							}
						}
					})
				}
			},
		})
	</script>

	<div class="modal fade" id="tipsModal" style="z-index:99999">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="tipsTitle">温馨提示</h3>
				</div>
				<div class="modal-body">
					<p id="tips" style="color:#fb7312;font-weight:bold;font-size:23px;text-align:center;"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭 &gt;</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>