<?php 
/**
 * @name 生蚝科技TP6-RBAC开发框架-V-登录
 * @author Oyster Cheung <master@xshgzs.com>
 * @since 2020-07-12
 * @version 2020-07-16
 */
?>

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Oyster Cheung">
	<title>登录 / {:getSetting('appName')}</title>

	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/admin-lte/2.4.8/css/AdminLTE.min.css">
	<link rel="stylesheet" href="https://static.xshgzs.com/css/loading.css">

	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/solid.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/5.13.0/css/brands.min.css">

	<script src="https://cdn.staticfile.org/jquery/3.1.0/jquery.min.js"></script>
	<!-- 开发环境版本，包含了有帮助的命令行警告 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/admin-lte/2.4.8/js/adminlte.min.js"></script>

	<script src="https://static.xshgzs.com/js/utils.js"></script>
	<script src="{:think\\facade\\Config::get('app.app_host')}/public/js/config.js"></script>

	<style>
		body {
			padding-top: 20px;
		}
	</style>
</head>

<body style="background-color: #66CCFF;">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<center><img src="{:getSetting('companyLogo')}" style="display: inline-block;height: auto;max-width: 100%;"></center><br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align:center;line-height:23px;">
						欢迎登录<br>{:getSetting('appName')}</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="userName">用户名</label>
						<input class="form-control" placeholder="用户名 / UserName" id="userName"
							   onkeyup='if(event.keyCode==13)$("#password").focus();'>
					</div>
					<br>
					<div class="form-group">
						<label for="password">密码</label>
						<a href="forgetPassword" target="_blank">（忘记密码 Forget Password）</a>
						<input class="form-control" placeholder="密码 / Password" id="password" type="password"
							   onkeyup='if(event.keyCode==13)toLogin();'>
					</div>

					<div class="checkbox">
						<label for="Remember">
							<input type="checkbox" id="Remember">记住用户名
						</label>
					</div>

					<center>
						<a class="btn btn-primary" style="width:49%" href='register'>注册 / Register</a>
						<button class="btn btn-success" style="width:49%" onclick='toLogin();'>登录 / Login &gt;</button>
					</center>
				</div>
			</div>
		</div>
	</div>

	<center>
		<!-- 页脚版权 -->
		<p style="font-weight:bold;font-size:20px;line-height:26px;">
			&copy; <a href="{:getSetting('homepageUrl')}" target="_blank"
			   style="font-size:21px;">{:getSetting('companyName')}</a>
			{:getSetting('companyCreateYear')}-{:date('Y')}

			<br>

			All Rights Reserved.<br>
			<a href="http://miit.beian.gov.cn/" target="_blank"
			   style="color:black;">{:getSetting('beianCode')}</a><br><br>
		</p>
		<!-- ./页脚版权 -->
	</center>

	<script>
		var isAjaxing = 0;// 防止重复登录

		// 监听模态框关闭事件
		$(function () {
			$('#tipsModal').on('hidden.bs.modal', function () {
				isAjaxing = 0;
			});
		});

		window.onload = function () {
			/********** ▼ 记住密码 ▼ **********/
			Remember = getCookie("RememberUserName");
			if (Remember != null) {
				$("#userName").val(Remember);
				$("#password").focus();
				$("#Remember").attr("checked", true);
			} else {
				$("#userName").focus();
			}
			/********** ▲ 记住密码 ▲ **********/

			localStorage.removeItem("allRoleInfo");
		}

		function toLogin() {
			// 防止多次提交
			if (isAjaxing == 1) {
				return false;
			}

			isAjaxing = 1;
			$("#userName").attr("disabled", true);
			$("#password").attr("disabled", true);
			userName = $("#userName").val();
			password = $("#password").val();

			/********** ▼ 记住密码 ▼ **********/
			Remember = $("input[type='checkbox']").is(':checked');
			if (Remember == true) {
				setCookie("RememberUserName", userName);
			} else {
				delCookie("RememberUserName");
			}
			/********** ▲ 记住密码 ▲ **********/

			if (userName == "") {
				showModalTips("请输入用户名！");
				$("#userName").removeAttr("disabled");
				$("#password").removeAttr("disabled");
				return false;
			}
			if (password == "") {
				showModalTips("请输入密码！");
				$("#userName").removeAttr("disabled");
				$("#password").removeAttr("disabled");
				return false;
			}

			lockScreen();
			$.ajax({
				url: "toLogin",
				type: "post",
				data: { "userName": userName, "password": password },
				dataType: "json",
				error: function (e) {
					console.log(JSON.stringify(e));
					unlockScreen();
					$("#userName").removeAttr("disabled");
					$("#password").removeAttr("disabled");

					showModalTips("服务器错误！<hr>请联系技术支持并提交以下错误码：<br><font color='blue'>" + e.status + "</font>");
					return false;
				},
				success: function (ret) {
					unlockScreen();
					$("#userName").removeAttr("disabled");
					$("#password").removeAttr("disabled");

					if (ret.code == 200) {
						sessionStorage.setItem("userInfo", JSON.stringify(ret.data.userInfo));

						// 如果有重定向地址且base64有效
						if (getURLParam("redirect") != null) {
							try {
								window.location.href = window.atob(getURLParam("redirect"));
							} catch (err) {
								window.location.href = ret.data['url'];
							}
						} else {
							window.location.href = ret.data['url'];
						}
					} else if (ret.tips != '') {
						showModalTips(ret.tips);
						return false;
					} else if (ret.code == 1) {
						showModalTips("当前用户被禁用！<br>请联系管理员！");
						return false;
					} else if (ret.code == 403) {
						showModalTips("用户名或密码错误！");
						return false;
					} else if (ret.code == 3) {
						showModalTips("用户暂未激活！<br>请尽快进行激活！");
						return false;
					} else if (ret.code == 2) {
						showModalTips("获取角色信息失败！请联系管理员！");
						return false;
					} else {
						console.log(ret);
						showModalTips("系统错误！<hr>请联系技术支持并提交以下错误码：<br><font color='blue'>" + ret.code + "</font>");
						return false;
					}
				}
			});
		}
	</script>

	<div class="modal fade" id="tipsModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
							  class="sr-only">Close</span></button>
					<h3 class="modal-title" id="ModalTitle">温馨提示</h3>
				</div>
				<div class="modal-body">
					<font color="red" style="font-weight:bolder;font-size:24px;text-align:center;">
						<p id="tips"></p>
					</font>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning"
							onclick='isAjaxing=0;$("#tipsModal").modal("hide");'>返回 &gt;</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>

</html>