<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>温馨提示 / <?=getSetting('appName');?></title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.1.2/style/weui.min.css">
</head>

<body>
	<div class="page">
		<div class="weui-msg">
			<div class="weui-msg__icon-area">
				<i class="weui-icon-warn weui-icon_msg-primary"></i>
			</div>
			<div class="weui-msg__text-area">
				<p class="weui-msg__title" style="font-size: 25px;">温馨提示</p>
				<p class="weui-msg__desc" style="font-size: 22px;"><?=$message;?></p>
			</div>
			<div class="weui-msg__opr-area">
				<p class="weui-btn-area">
					<a href="/" class="weui-btn weui-btn_primary">返回首页</a>
				</p>
			</div>
			<div class="weui-msg__tips-area">
			</div>
			<div class="weui-msg__extra-area">
				<div class="weui-footer">
					<p class="weui-footer__links">
						<a class="weui-footer__link" style="font-size: 19px;line-height: 37px;"
						   href="https://www.xshgzs.com" target="_blank">生蚝科技首页</a>
					</p>
					<p class="weui-footer__text" style="font-size: 18px;">&copy; <?=getSetting('companyName');?>
						<?=getSetting('companyCreateYear');?>-<?=date('Y');?></p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>